body {
    background: #fff;
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: 48px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    margin-top: 70px;
}

.column {
    display: flex;
    flex-direction: column;
}

.title {
    max-width: 800px;
    text-align: center;
    align-self: center;
    margin-bottom: 0;
}

p {
    text-align: center;
    font-size: 24px;
    color: #635c5c;
    margin-top: 60px;
}

.img {
    align-self: center;
    width: 800px;
    height: 500px;
    border-radius: 20px;
    box-shadow: blue;
    box-shadow: rgb(169 173 212) 0px 0px 24px 0px;
}